# À REMPLACER. LES CLÉS API SERONT ENVOYÉS PAR COURRIEL. 
# SVP NE PAS PARTAGER CES CLÉS PUBLIQUEMENT.
GEMINI_API_KEY=your_gemini_api_key_here
SERPAPI_KEY=your_serpapi_key_here

# Modèle Gemini à utiliser
GEMINI_MODEL=gemini-robotics-er-1.5-preview

# Nombre maximum de résultats de recherche à récupérer de SerpAPI
MAX_SERP_RESULTS=20

# Max appels de tools par analyse
MAX_TURNS = 6

# Longueur maximale et minimale du prompt
MAX_PROMPT_LENGTH = 1000
MIN_PROMPT_LENGTH = 10